@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* General */
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* STYLES */
$body-font: 'proxima';
$title-font: 'Kozuka';

@font-face {
    font-family: "Kozuka";
    src: url("../fonts/KZKEL.otf") format("opentype"); 
    font-weight: 300;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeue.otf") format("opentype");
    font-weight: 400; 
}

html{ 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    top: 0;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
    
.introduction {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/warm-bg.jpg) no-repeat center center scroll;    
//    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .content {
        @include vertical-align;
        
        h1.title {
            color: #000;
            font-family: $title-font;
            font-weight: 300;
            font-size: 72px;
        }
        
        h2.caption {
            color: #4E4E4E;
            font-family: $title-font;
            font-weight: 300;
            font-size: 48px;
        }
    }
}
