@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* General */
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* STYLES */
$body-font: 'Open Sans', sans-serif;
$title-font: 'Kozuka';


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@font-face {
    font-family: "Kozuka";
    src: url("../fonts/KGPEL.otf") format("opentype"); 
    font-weight: 300;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeue.otf") format("opentype");
    font-weight: 400; 
}

html{ 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    top: 0;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
    
.introduction {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/warm-bg.jpg) no-repeat center center scroll;    
//    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    @include parent-element;
    
    .content {
        @include vertical-align;
        text-align: center;
        h1.title {
            margin: 0;
            padding: 0;
            
            color: #000;
            font-family: $title-font;
            font-weight: 300;
            font-size: 96px;
        }
        
        h2.caption {
            margin: 0;
            margin-top: -25px;
            padding: 0;
            
            color: #4E4E4E;
            font-family: $title-font;
            //merge solve
            font-weight: 300;
            font-size: 36px;
        }
    }
}

.statistics {
    width: 100%;
    margin: 0;
    padding: 0;
    
    .row {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .fact {
        text-align: center;
        font-family: $body-font;
        
        .numbers {
            font-weight: 400;
            font-size: 48px;
            color: #1D1D1D;
            margin: 5px;
            padding: 0;
        }
        
        .object {
            font-weight: 300;
            font-size: 24px;
            color: #4E4E4E;
            margin: 0;
            padding: 0;
        }
    }
}








/*.background {
  position: fixed;
    top: 0;
    left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
  background-image: url("../images/hexagon.svg");
  background-size: 6%;
  background-repeat: repeat;
  background-attachment: fixed;
}
.banner {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  display: table;
}
.banner form{
  font-size: 3vh;
}
.faqheader {
    text-align: center;
    font-family: Helvetica, sans-serif;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size:7vh !important;
    font-weight: 700;
    margin-bottom:2vh;
    margin-top:0vh;
    letter-spacing: 0px;
}
.bg-overlay {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  text-align: center;
  display: table-cell;
}
.content {
  font-family: Helvetica, sans-serif;
  color: black;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 14vh;
  margin-bottom: 14vh;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.title {
  margin: 0;
  line-height: 0;
  margin-bottom: 7vh;
}
.title img {
  display: inline-block;
  height: 12vh;
}
.title p {
  margin: 0;
  display: inline-block;
  font-size: 16vh;
}
.description {
  margin: 0;
  font-size: 4vh;
  margin-bottom: 7vh;
}
.description span {
  font-size: 3.8vh;
  line-height: 3.8vh;
}
.description i {
  font-size: 1vh;
  vertical-align: middle;
}
.header form {
  -webkit-appearance: none;
}
.email-input {
  font-family: Helvetica, sans-serif;
  font-size: 3.8vh;
  width: 34vh;
  margin: 0;
  padding-left: 3vh;
  padding-right: 3vh;
  display: inline-block;
}
.email-submit {
  font-family: Helvetica, sans-serif;
  font-size: 3.8vh;
  margin: 0;
  padding-left: 3vh;
  padding-right: 3vh;
  display: inline-block;
  background-color: gray;
  border: 1px solid gray;
}
.introduction {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  background-color: gray;
  z-index: 1;
}
.introduction .text-container {
  display: table-cell;
  text-align: center;
}
.introduction p {
  text-align: left;
  font-size: 3.5vh;
  color: white;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 27vw;
  margin-right: 27vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.goals {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  background-color: lightgray;
  text-align: center;
  z-index: 1;
}
.header {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: Helvetica, sans-serif;
  font-size: 3vh;
  font-weight:700;
}
.goals .container {
  display: inline-block;
  min-width: 60%
}
.factContainer {
  display: inline-block;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.fact {
  margin: 0;
  font-size: 7vh;
  font-weight: 300;
}
.fact span {
  font-size: 4vh;
}
.faq {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
/*  background-image: url("../images/hexagon.svg"); did this twice to hide the text from header 
  background-size: 6%;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
  font-weight: 400;
}
.faq .container {
  display: inline-block;
  padding-bottom: 5vh;
}
.questionContainer {
  text-align: left;
  font-family: Helvetica, sans-serif;
  width: 25%;
  display: inline-block;
  padding-left: 1vh;
  padding-right: 1vh;
}
.questionContainer .q {
  font-size: 3.3vh;
}
.questionContainer .a {
  font-size: 2.7vh;
}
.sponsors {
  position: relative;
    top: 0;
    left: 0;
  width: 100%;
  background-color: transparent;
 
  text-align: center;
  background-color: lightgray;
  z-index: 1;
}
.sponsors .container {
  display: inline-block;
  width: 80%;
  padding-bottom: 5vh;
}
.sponsorContainer {
  width: 25%;
  display: inline-block;
  margin-right: 4vh;
}
.footer {
  position: relative;
    top: 0;
    left: 0;
    right: 0;
  background-color: gray;
  padding-left: 5vh;
  font-family: Helvetica, sans-serif;
  font-size: 2.5vh;
  padding-left: 5vh;
  padding-right: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: white;
  z-index: 1;
}
.footer p {
  margin: 0;
}

@media screen {
  
}*/