/*
Error: Invalid CSS after "      color:": expected expression (e.g. 1px, bold), was "}"
        on line 215 of css/includes/styles.scss
        from line 10 of css/importer.scss

210:         line-height: 2;
211:     }
212: 
213:     a {
214:       color:
215:     }
216: }
217: 
218: 
219: .footer {
220:     width: 100%;

Backtrace:
css/includes/styles.scss:215
css/importer.scss:10
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1165:in `expected'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/script/lexer.rb:221:in `expected!'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/script/parser.rb:573:in `assert_expr'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/script/parser.rb:62:in `parse'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1027:in `sass_script'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:880:in `value!'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `call'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `rethrow'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:660:in `block_child'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:42:in `parse'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:299:in `to_tree'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:88:in `block in with_import'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:88:in `with_import'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:415:in `run'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/bin/sass:23:in `load'
/Users/paulvorobyev/.rvm/rubies/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/paulvorobyev/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/paulvorobyev/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      color:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 215 of css/includes/styles.scss\A         from line 10 of css/importer.scss\A \A 210:         line-height: 2;\A 211:     }\A 212: \A 213:     a {\A 214:       color:\A 215:     }\A 216: }\A 217: \A 218: \A 219: .footer {\A 220:     width: 100%;"; }
