.button-gray {
background: rgb(128, 128, 128);
}

@media only screen and (max-device-width: 480px) {
  // #menuButton, #navS, #navSBG, #closeButton, .button {
  //     height: 70px !important;
  // }
  // #menuButton, #closeButton {
  //     width: 70px !important
  // }
  // #navSBG {
  //     padding: 0 !important;
  // }
  // #menuButton {
  //       display: block !important;
  //       line-height: normal !important;
  //       &:hover .topSection {
  //           width: 21px !important;
  //           margin-left: 35px !important;
  //         }

  //         &:hover .botSection {
  //           width: 21px !important;
  //           margin-left: 35px !important;
  //         }
  // }
  // .button {
  //     width: 100% !important;
  //     margin: 1em auto !important;
  //     line-height: 55px !important;
  // }
  // .menuButtonSection {
  //       top: 0 !important;
  //       left: 0 !important;
  //       margin: 10.5px 14px !important;
  //     height: 7px !important;
  //     width: 42px !important;
  //     display: block !important;
  //   }
  //   .topSection {
  //     margin-top: 14px !important;
  //   }
  //   .botSection{
  //     margin-bottom: 14px !important;
  //   }
  .introduction {
      .logo {
        height: 38px !important;
        width: 21.041px !important;
      }
      .title {
          font-size: 50px !important;
      }
      .caption {
          font-size: 25px !important;
      }
      form {
          font-size: 20px !important;

          input.input-box {
              margin-top: 15px !important;
              width: 90% !important;
          }
          button.btnSubscribe {
              margin-top: 20px !important;
          }
      }
  }
  .faq {
    padding-bottom: 0px !important;
        .row {
            margin-left: 1em !important;
            margin-right: 1em !important;
        }
        .contact {
            margin-left: 1em !important;
            margin-right: 1em !important;
            margin-top: 180px !important;
        }
  }
  .sponsors-section {
    padding-top: 120px !important;
    .special-sponsor-container {
        width: 100% !important;
    }
  }
}

@media only screen and (max-device-height: 550px) {
  #see-more {
      display: none !important;
  }
}
@media screen and (max-width: 730px) {
  .button {
      // width: 100% !important;
      // margin: 0 auto !important;
    .introduction {
        .title {
            // font-size: 80% !important;
        }
    }
  }
}
@media screen and (max-height: 405px) {
  #see-more {
      display: none !important;
  }
}

/* General */
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

$body-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', sans-serif;

$color-white: #f7f7f7;
$color-black: #1D1D1D;
$color-gray: #555459;
$color-lgray: #707070;
$color-elgray: #c5c5c5;
$color-emerald: #2ecc71;
$color-bluewhite: #d6eff7;
$color-darkwhite: #ecf0f1;

/* STYLES */

@font-face {
    font-family: "Kozuka";
    src: url("../fonts/KGPEL.otf") format("opentype"); 
    font-weight: 300;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeue.otf") format("opentype");
    font-weight: 400; 
}

html, body{ 
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #225eff !important;
}
    
.introduction {
    position: relative;
    z-index: 0;
    
    width: 100%;
    height: 100%;
    // height: -moz-calc(100% - 150px);
    // height: -webkit-calc(100% - 150px);
    // height: calc(100% - 150px);
    
    margin: 0;
    padding: 0;
    
    
    overflow: hidden;
    // background: url(../images/gradient2.png) no-repeat bottom center scroll;    
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // background-color: #23ccfd;
    background: #0033bc;
    background: -webkit-linear-gradient(top,#0033bc,#0038cf,#003ee6,#074bff,#225eff);
    background: -moz-linear-gradient(top,#0033bc,#0038cf,#003ee6,#074bff,#225eff);
    background: -o-linear-gradient(top,#0033bc,#0038cf,#003ee6,#074bff,#225eff);
    background: linear-gradient(to bottom,#0033bc,#0038cf,#003ee6,#074bff,#225eff);
    
    @include parent-element;
    
    .content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        text-align: center;
        z-index: 10;
    
        .logo {
          height: 68px;
          width: 37.653px;
          display: inline-block;
          background-position: center center !important;
          background-origin: content-box !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }
        
        h1.title {
            display: inline-block;
            margin: 10px;
            padding: 0;
            color: $color-darkwhite;
            font-family: $title-font !important;
            font-weight: 200;
            font-size: 96px;
            text-transform: uppercase;
            
            span {
                font-weight: 400;
                color: $color-white;  
            }
        }
        
        h2.caption {
            margin: 15px;
            padding: 0;
            
            color: $color-bluewhite;
            font-family: $body-font !important;
            font-weight: 300;
            font-size: 36px;
            
            text-shadow: 0px 0px 3px $color-elgray;
        }


    }
}

.subscriptionForm {
    /*
    position: relative;
    top: 65%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
    */

    // margin-top: 70px;
}

.input-box {
    display: inline;
    width: 375px;

    margin: 10px auto;
    padding: 14px 14px;

    font-family: $body-font !important;
    font-size: 18px !important;
    font-weight: 300 !important;

    color: $color-gray;

    border: 1px solid $color-elgray;
    border-radius: 5px;
    outline: 0;

    background-color: $color-white;
}

.btnSubscribe {
    display: inline;

    margin: 25px auto;
    padding: 14px 14px;

    font-family: $body-font !important;
    font-size: 18px !important;
    font-weight: 400 !important;

    background-color: $color-emerald;
    color: $color-white;
    opacity: 0.9;

    border: 1px solid $color-emerald;
    border-radius: 5px;
    outline: 0;

    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;

    &:hover {
        opacity: 0.75;
    }
}

.statistics {
    z-index: 2;
    width: 100%;
    
//    position: relative;
//    top: -175px;
    
    margin: 0;
    padding: 15px 0;
    
//    opacity: 0.7;
    
    background-color: #225eff !important;
    
    .row {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .fact {
        padding: 12px 0 12px 0;
        text-align: center;
        font-family: $body-font !important;
        
        .numbers {
            font-weight: 400;
            font-size: 60px;
            color: $color-white;
            margin: 7px;
            padding: 0;
        }
        
        .object {
            font-weight: 300;
            font-size: 25px;
            color: $color-bluewhite;
            margin: 7px;
            padding: 0;
            text-transform: uppercase;
        }
    }
}


.faq {
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover7eb2ff
    // background-size: cover;
    // background: url(../images/gradient6.png) no-repeat top center scroll;
    background: #225eff no-repeat bottom center scroll;
    background-image: url(../images/infuturesil2.svg);
    // background-image: url(../images/infuturesil2.svg),-webkit-gradient(to bottom,#225eff,#4381ff,#63a2ff,#7eb2ff,#acdeff);
    background-image: url(../images/infuturesil2.svg),-webkit-linear-gradient(top,#225eff,#2767ff,#2c71ff,#3e83ff,#5096ff,#88b8ff,#ffb402);
    background-image: url(../images/infuturesil2.svg),-moz-linear-gradient(top,#225eff,#2767ff,#2c71ff,#3e83ff,#5096ff,#88b8ff,#ffb402);
    background-image: url(../images/infuturesil2.svg),-o-linear-gradient(top,#225eff,#2767ff,#2c71ff,#3e83ff,#5096ff,#88b8ff,#ffb402);
    background-image: url(../images/infuturesil2.svg),linear-gradient(to bottom,#225eff,#2767ff,#2c71ff,#3e83ff,#5096ff,#88b8ff,#ffb402);
    color: $color-white !important;
    padding: 75px 0 40px 0;
    text-align: center;
    
    .title {
        font-family: $body-font !important;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 5px !important;
        color: $color-white !important;
    }
    
    .question {
        font-family: $body-font !important;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
        margin: 45px auto 10px auto;
        color: $color-white !important;
    }
    
    .answer {
        font-family: $body-font !important;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        color: $color-white !important;
    }

    a {
        color: $color-white;
        text-decoration: underline;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        &:hover {
            color: #0033bc;
            text-decoration: underline;
        }
    }
    .contact {
        font-family: $body-font !important;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        margin-top: 275px;
        margin-bottom: 0px !important;
    }
    .citybg {
        position: relative;
        height: 100%;
        width: 100%;
        bottom: -65px;
        img {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }
}


.sponsors-section {
    width: 100%;
    margin: 0;
    padding: 30px 0 170px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #666666;
    // overflow: hidden;
    // background: #a77b36;
    // background: -webkit-linear-gradient(top,#a77b36,#a1773a,#946f43,#86664b,#795d53,#5f4c64,#584768);
    // background: -moz-linear-gradient(top,#a77b36,#a1773a,#946f43,#86664b,#795d53,#5f4c64,#584768);
    // background: -o-linear-gradient(top,#a77b36,#a1773a,#946f43,#86664b,#795d53,#5f4c64,#584768);
    // background: linear-gradient(to bottom,#a77b36,#a1773a,#946f43,#86664b,#795d53,#5f4c64,#584768);
 
    .container {
        text-align: center;
    }

    .title {
        font-size: 36px;
        font-family: $body-font !important;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $color-white;
    }

    .sponsor-container {
        display: inline-block;
        height: 120px;
        width: 200px;
        
        margin: 0px auto;
        padding: 0; 

        background: url(../solarpanel.svg);
        // background: url(../images/dish.svg);
        background-position: center center !important;
        background-origin: content-box !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        
        .sponsors {
            height: 100%;
            width: 140px;

            margin: 5px auto;
            padding: 0px 10px;

            background-position: center center !important;
            background-origin: content-box !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;

            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            -ms-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;

            border-bottom: solid 2px rgba(255,255,255,0.0);

            &:hover {
                border-bottom: solid 2px #acdeff;
            }
        }
    }
    
    .special-sponsor-container {
        @extend .sponsor-container;
        width: 350px;
        height: 210px;
        
        .special-sponsors {
            @extend .sponsors;
            width: 245px;
            margin: 15px auto;
        }
    }
    
    .contact {
        font-size: 28px;
        font-family: $body-font !important;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px !important;
        color: #3a3a3a;
    
        a {
            color: #3a3a3a;
            text-decoration: underline;
            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            -ms-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;
            &:hover {
                color: #acdeff;
                text-decoration: underline;
            }
        }
    }
}

.footer {
    width: 100%;
    margin: 0;
    padding: 30px 0 0 0;
    margin: 0 auto;
    text-align: center;
    background-color: #666666;

    height: 140px;
}

  /*margin: 0; }*/
#see-more {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    z-index: 1;
    text-align: center;
    line-height: 101px;
    color: $color-white;
    font-size: 20px;
    display: block;
    width: 170px;
    height: 85px;
    background-color: rgba(128,128,128,.3);
    font-family: $body-font !important;
//    -webkit-border-radius: 50%;
//    -moz-border-radius: 50%;
//    border-radius: 50%;
//    border-bottom: 0;
    border-radius: 170px 170px 0 0;
    -moz-border-radius: 170px 170px 0 0;
    -webkit-border-radius: 170px 170px 0 0;
    
    position: absolute;
    bottom: 0px;
    left: 50%;
    opacity: 1;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        opacity: 1;
        width: 180px;
        height: 95px;
        
        .uline:after {
            width: 90px;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

#back-to-top {
    z-index: 1;
    text-align: center;
    line-height: 101px;
    color: $color-white;
    font-size: 20px;
    display: block;
    width: 170px;
    height: 85px;
    background-color: rgba(128,128,128,.6);
    font-family: $body-font !important;
//    -webkit-border-radius: 50%;
//    -moz-border-radius: 50%;
//    border-radius: 50%;
//    border-bottom: 0;
    border-radius: 170px 170px 0 0;
    -moz-border-radius: 170px 170px 0 0;
    -webkit-border-radius: 170px 170px 0 0;
    
    position: relative;
    bottom: 0px;
    left: 50%;
    opacity: 1;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
    
    &:hover {
        opacity: 1;
        width: 180px;
        height: 95px;
        bottom:10px;
        
        .uline:after {
            width: 110px;
        }
    }
}

.uline {
    position: relative;
    
    &:after {
        content: "";
        display: block;
        margin: -40px auto;
        width: 0%;
        height: 1px;
        background-color: $color-white;
        -webkit-transition: width .3s;
        -moz-transition: width .3s;
        transition: width .3s;
    }
}
.rocket-container {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        height: 68px;
        width: 100px;
        margin-left:auto;
        margin-right:auto;

        -webkit-transition: all 150ms ease-in;
        -moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
        transition: all 150ms ease-in;
        
        .rocket {
            height: 100%;
            background-image: url(../images/rocket.svg);
            background-position: center center !important;
            background-origin: content-box !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            z-index: 0;
        }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    animation-delay: 5s;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes flyThrough {
    0% {
        -webkit-transform: translate3d(0, 3000%, 0);
        transform: translate3d(0, 3000%, 0)
    }

    100% {
        -webkit-transform: translate3d(0, -3000%, 0);
        transform: translate3d(0, -3000%, 0)
    }
}

@keyframes flyThrough {
    0% {
        -webkit-transform: translate3d(0, 3000%, 0);
        transform: translate3d(0, 3000%, 0)
    }

    100% {
        -webkit-transform: translate3d(0, -3000%, 0);
        transform: translate3d(0, -3000%, 0)
    }
    animation-delay: 5s;
}

.flyThrough {
    -webkit-animation-name: flyThrough;
    animation-name: flyThrough;
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-duration: 6.0s;
    animation-duration: 6.0s;
}